.periodic-table-element {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #0000;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.atomic-number{
    align-self: flex-start;
    justify-self: stretch;
    flex-grow: 12;
    margin: 0;
}
.atomic-number small{
    margin: 0;
    margin-top: -5px;
    font-size: 9px;
}
.element-simbol{
    align-self: flex-start;
    justify-self: center;
    margin: 0px auto;
}
.element-simbol small{
    font-size: 9px;
}
.element-simbol h3,.element-simbol small {
    margin: 0;
}
.family-one {
    grid-column: 1;
}

.family-two {
    grid-column: 2;
}

.family-three {
    grid-column: 3;
}

.family-four {
    grid-column: 4;
}

.family-five {
    grid-column: 5;
}

.family-six {
    grid-column: 6;
}

.family-seven {
    grid-column: 7;
}

.family-eight {
    grid-column: 8;
}

.family-nine {
    grid-column: 9;
}

.family-ten {
    grid-column: 10;
}

.family-eleven {
    grid-column: 11;
}

.family-twelve {
    grid-column: 12;
}

.family-thirteen {
    grid-column: 13;
}

.family-fourteen {
    grid-column: 14;
}

.family-fiveteen {
    grid-column: 15;
}

.family-sixteen {
    grid-column: 16;
}

.family-seventeen {
    grid-column: 17;
}

.family-eighteen {
    grid-column: 18;
}

.period-one {
    grid-template-columns: 60px 60px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.period-two {
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-row-start: 2;
    grid-row-end: 3;
}

.period-three {
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
    grid-row-start: 3;
    grid-row-end: 4;
}

.period-four {
    grid-row-start: 4;
    grid-row-end: 5;
}

.period-five {
    grid-row-start: 5;
    grid-row-end: 6;
}

.period-six {
    grid-row-start: 6;
    grid-row-end: 7;
}

.period-seven {
    grid-row-start: 7;
    grid-row-end: 8;
}


.no-metal {
    background-color: #a1d344;
}
.no-metal:hover {
    background-color: #a1d34483;
}
.noble-gases {
    background-color: #3d9de3;
}
.noble-gases:hover {
    background-color: #3d9de383;
}

.alkali-metals {
    background-color: #f1b200;
}
.alkali-metals:hover {
    background-color: #f1b20083;
}

.alkaline-earth-metals {
    background-color: #eada00;
}
.alkaline-earth-metals:hover {
    background-color: #eada0083;
}

.semi-metals {
    background-color: #4db6ac;
}
.semi-metals:hover {
    background-color: #4db6ac83;
}

.halogens {
    background-color: #70cbeb;
}
.halogens:hover {
    background-color: #70cbeb83;
}

.other-metals {
    background-color: #a2c7d3;
}
.other-metals:hover {
    background-color: #a2c7d383;
}

.transition-metals {
    background-color: #eb8e8e;
}
.transition-metals:hover {
    background-color: #eb8e8e83;
}
.lanthanides-position {
    margin-top: 20px;
    grid-row-start: 9;
    grid-row-end: 10;
}
.lanthanides {
    background-color: #90e3e9;
}
.lanthanides:hover {
    background-color: #90e3e983;
}
.actinides-position {
    grid-row-start: 10;
    grid-row-end: 11;
}
.actinides {
    background-color: #dcadd6;
}
.actinides:hover {
    background-color: #dcadd683;
}