.periodic-table-row{
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554% 5.554%; 

}